@model TrainBooking.ViewModels.TicketVM

@{
    ViewData["Title"] = "Select";
}

<div>
    <div class="row">
    <table class="table">
        <tr>
            <th></th>
            <th>Station</th>
            <th>Time</th>
        </tr>
        @if(Model.SectionsVM != null){
            @foreach(var item in Model.SectionsVM){
                <tr>
                    <td>Departure</td>
                    <td>@Html.DisplayFor(modelItem => item.DepartureStation)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureTime)
                    </td>
                </tr>
                <tr>
                    <td>Arrival</td>
                    <td>@Html.DisplayFor(modelItem => item.DestinationStation)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalTime)
                    </td>
                </tr>
            }
        }
        </table>
 
        <form asp-action="Path">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-3">
                <input asp-for="@Model.Date" class="form-control" readonly />
            </div>

            <div class="form-group">
                <select asp-for="Class">
                    <option>Economy Class</option>
                    <option>Business class</option>
                </select>
            </div>
            <input type="submit" value="Buy" class="btn btn-primary" />
        </form>
    </div>
    
</div>
<div>
    <script>
        var e = document.getElementById("ddlViewBy");
        var value = e.value;
        var text = e.options[e.selectedIndex].text;
    </script>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
}