@model TrainBooking.ViewModels.ShoppingCartVM

@{
    ViewData["Title"] = "Index";
}

<h1>Shopping Cart</h1>

@if (Model != null)
{

    <form asp-action="Payment">
        <table>
            <tr>
                <th>Date</th>
                <th>From</th>
                <th>To</th>
                <th>Departure time</th>
                <th>Arrival time</th>
                <th>@Html.DisplayNameFor(model => model.Cart[0].Class)</th>
                <th>@Html.DisplayNameFor(model => model.Cart[0].Price)</th>
                <th>Amount</th>
                
            </tr>
            @{
                float total = 0;
            }
            @for (var i = 0; i < Model.Cart.Count; i++)
            {

                <tr>
                    @Html.HiddenFor(m => Model.Cart[i].Id)
                    @for (var j = 0; j < Model.Cart[i].Sections.Count; j++){
                        @Html.HiddenFor(m => Model.Cart[i].Sections[j].DepartureStation)
                        @Html.HiddenFor(m => Model.Cart[i].Sections[j].DepartureStationId)
                        @Html.HiddenFor(m => Model.Cart[i].Sections[j].DestinationStation)
                        @Html.HiddenFor(m => Model.Cart[i].Sections[j].DestinationStationId)
                        @Html.HiddenFor(m => Model.Cart[i].Sections[j].DepartureTime)
                        @Html.HiddenFor(m => Model.Cart[i].Sections[j].ArrivalTime)
                        @Html.HiddenFor(m => Model.Cart[i].Sections[j].Train)
                    }
                    <td><input asp-for="@Model.Cart[i].DepartureDate" class="form-control" readonly /></td>
                    <td><input asp-for="@Model.Cart[i].Sections.FirstOrDefault().DepartureStation" class="form-control" readonly /></td>
                    <td><input asp-for="@Model.Cart[i].Sections.FirstOrDefault().DestinationStation" class="form-control" readonly /></td>
                    <td><input asp-for="@Model.Cart[i].Sections.FirstOrDefault().DepartureTime" class="form-control" readonly /></td>
                    <td><input asp-for="@Model.Cart[i].Sections.FirstOrDefault().ArrivalTime" class="form-control" readonly /></td>
                    <td><input asp-for="@Model.Cart[i].Class" readonly="readonly" class="form-control" data-aantal=@i/></td>
                    <td><input asp-for="@Model.Cart[i].Price" readonly="readonly" class="form-control" /></td>
                    <td><input asp-for="@Model.Cart[i].SeatNumber" type="number" min="1" max="100" class="form-control" /></td>
                    
                    @*<td>@Model.Cart[i].Sections.FirstOrDefault().DepartureStation</td>
                    <td>@Model.Cart[i].Sections.LastOrDefault().DestinationStation</td>
                    <td>@Model.Cart[i].Sections.LastOrDefault().DepartureTime</td>
                    <td>@Model.Cart[i].Sections.LastOrDefault().ArrivalTime</td>
                    <td>@Model.Cart[i].Class</td>
                    <td>@Model.Cart[i].Price</td>*@
                    <td>
                        <a asp-action="Delete" asp-route-id="@Model.Cart[i].Id">
                            Delete
                        </a>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <input type="submit" value="Checkout"
                       class="btn btn-default" />
                </td>
            </tr>
            <tr>

                <td id="cart-total">
                    Total  <input id="txtTotal" value="@total"
                                  type="number" readonly="readonly" />
                </td>
            </tr>

        </table>
    </form>
}
else
{
    @Html.Raw("Your shoppingcart is empty at the moment")
}