@model IEnumerable<TrainBooking.ViewModels.BookingHistoryVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model != null){
@foreach (var item in Model) {
    @if (item.TicketList.Any()){
        <tr>
            <td><b>Tickets:</b> </td>
        </tr>
        @foreach (var ticket in item.TicketList)
        {
            @if (ticket.SectionsVM.Any()){
                <tr>
                    <td>@ticket.Date</td>
                    <td>@ticket.SectionsVM.FirstOrDefault().DepartureStation</td>
                    <td>@ticket.SectionsVM.LastOrDefault().DestinationStation</td>
                    <td>@ticket.SectionsVM.LastOrDefault().DepartureTime</td>
                    <td>@ticket.SectionsVM.LastOrDefault().ArrivalTime</td>
                    <td>@ticket.Class</td>
                    <td>@ticket.SeatNumber</td>
                </tr>
            }
        }

    }
        

            
}
}

    </tbody>
</table>
